* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-sans' , sans-serif;
 
}

body {
  background-color: yellow;
  
}


.header {
  background-color: blueviolet;
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; */
}
 p .title {
  text-align: center;
  font-size: 30px;
  
 }